---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const pageTitle = "Hello";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={[
    "Good Morning", "Buongiorno", "Madainn Mhath","God Morgon","Bore Da","Guten Morgen","Bom Dia","Доброго Ранку","Tere Hommikust","Καλημέρα","Dzień Dobry"
  ]} />
  <div class="content home">
    <section>
  <p class="intro-text">
    Welcome to Nice with a Cup of Tea. We’re a community who love playing TTRPGs, talking about TTRPGs, and <em>causing chaos</em> making merry! We accept anyone coming from anywhere, as table tops are open to anyone, so if you want to meet people and join groups, you’ve found the right place. Join our growing community, we’d love to have you!
  </p>
  <p>
    We do play a little D&D and Pathfinder, but most of our games are Powered by the Apocalypse, Forged in The Dark & Free League games. Some of our most played include Vaesen, Blades in The Dark, The Between & Flabbergasted!
  </p>
  <!-- some recent posts -->
  <!-- some porjects -->
  <!-- Get to know us -->
  <!-- Other things we do -->
   <!-- MVP -->
   <!-- patreon -->
    </section>
  </div>
  
</BaseLayout>
