---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Making";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="content">
    <section class="hero">
      <h2>The rules &amp; general ethos of the community</h2>
      <h3>Be <em>inclusive</em> & practice <em>empathy</em></h3>
      <p>
        We are all humans &amp;life stuff happens
      </p>
      <ul class="index">
        <li>Rules</li>
        <li>Code of Conduct</li>
        <li>What to do if their is a problem</li>
        <!-- <li>Useful into</li> -->
        <li>FAQ</li>
      </ul>
    </section>


    <section class="section-tri">
      <div class="col2"><h3>Games.</h3></div>
      <div class="col1">
        <h4>We are</h4>
        <p>An LGBTQIA+, neurodivergent, disability friendly community</p>
        <p>We are inclusive &amp; practice empathy</p>
        <p>We are mindful of sensative subjects &amp; make sure everyone consents to their inclusion in the game.</p>
        <p>Voice chat is English only, this is for moderation reasons. (the exception to this is if you looking for help translating a word you don't know).</p>
        <p>The community is 18+.</p>
      </div>
      <div class="col1">
        <h4>We do not have</h4>
        <p>Racists Sexists Bigots Ableists Antisemites Homophobes Transphobes Nationalists Classists</p>
        <p>Depictions of sexual assault in game, this can a part of back stories and discussed in game but should be discussed pre-game.</p>
      </div>
    </section>
    <section class="section-tri">
      <div class="col2"><h3>Character Keepers.</h3></div>
      <div class="col1">
        <h4>Made by Cinna</h4>
        <p>We are all human &amp; life happens.</p>
        <p>Do not play if you are ill (healing is more important).</p>
        <p>Do not overcommit, your time &amp; energy is limited.</p>
        <p>Do Communicate if you are unhappy.</p>
        <p>Do not stay in situations that make you unhappy.</p>
        <p>If you need a moment to yourself but want to continue a game, ask GM for a break in the game.</p>
      </div>
      <div class="col1">
        <h4>Responsibility   to others</h4>
        <!-- <p>Everybody has a responsability to be respectful of each other.</p> -->
        <p>Respect peoples times, if you can not make it to a session endevour to inform your GM with as much notice as possible.</p>
        <p>If you are going to be late to a session endevour to inform your GM with as much notice as possible.</p>
        <p>Some times life gets in the way &amp; it's impossible  to do the above, that is ok, but please inform your GM afterwards.</p>
        <p>Don't over commit, if it is unlikely you will be able to make it reguarly or on time it is best not commit to the session.</p>
        <p>Don't be a rules lawyer, ask questions or clarifications if you are unsure, but don't derail play if you feel the GM is not running a rule to your expectation. That is a conversation to have after play.</p>
        <p>Give other players their chance to share in the spotlight.</p>
        <p>Respect players bounderies and agency.</p>
      </div>
    </section>
    <section class="section-tri">
      <div class="col2"><h3>Art.</h3></div>
      <div class="col1">
        <h4>Contact</h4>
        <p>If you feel any of the above have been broken or have any other conserns you should contact a the server owner (Arran) or a moderator.</p>
        <p>We may act immediately, issue a warning or for more minour issues we will keep track to make sure there is not an on going issue.</p>
      </div>
      <div class="col1">
        <h4>Queries</h4>
        <p>If you have a problem or query unrellated to the above, you may want to check the FAQ bellow, or you can ask in the #server-gardening channel or reach out to moderators.</p>
        <p></p>
      </div>
    </section>
    <!-- <section class="test">
      <div class="way-col1"><h3>Useful infomation</h3></div>
      <div class="way-col2">
        <h4>Contact</h4>
        <p>If you feel any of the above have been broken or have any other conserns you should contact a the server owner (Arran) or a moderator.</p>
        <p>We may act immediately, issue a warning or for more minour issues we will keep track to make sure there is not an on going issue.</p>
      </div>
      <div class="way-col3">
        <h4>Queries</h4>
        <p>If you have a problem or query unrellated to the above, you may want to check the FAQ bellow, or you can ask in the #server-gardening channel or reach out to moderators.</p>
        <p></p>
      </div>
    </section> -->
    <section class="section-tri">
      <div class="col2"><h3>Frequently Asked Questions</h3></div>
      <div class="col1">
        <h4>I'd like to be involved with a game</h4>
        <p>If you feel any of the above have been broken or have any other conserns you should contact a the server owner (Arran) or a moderator.</p>
      </div>
      <div class="col1">
        <h4>I'd like to play something I dont see her</h4>
        <p>If you have a problem or query unrellated to the above, you may want to check the FAQ bellow, or you can ask in the #server-gardening channel or reach out to moderators.</p>
        <p></p>
      </div>
    </section>


  <!-- <p>I'd like to be involved with a game</p>
  <p>I'd like to play something I dont see here</p>
  <p>I'd like to run a game what should I do</p>
  <p>Can I invite a friend</p>
  <p>Some of the channels have silly names, what are they for?</p>
  <p>I've never GM'ed before, do you have any suggestions were to start</p>
  <p>I've got some ideas for the community, what should I do with them</p> -->

  </div>
</BaseLayout>
