---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Making";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="content">
    <section class="hero-patreon">
      <div class="hero-lite">
        <p>
          Many members of our community make games &amp; other resources.
          
        </p>
      </div>
      <div class="cta">
        <a href="">Become a patreon</a>
      </div>
    </section>


    <section class="section-tri">
      <div class="col2"><h3>Games &amp; Adventure.</h3></div>

      <div class="col1">
        <h4>Made by Dimitri</h4>
        <p>You can find Dimitri <a href="https://linktr.ee/DGivaca">here</a>.</p>
        <ul class="makers-list">
          <li><a href="https://dimitri-drgivaca.itch.io/stepping-into-the-oblivion">Stepping into the Oblivion</a></li>
        </ul>
      </div>
      <div class="col1">
        <h4>Made by Josef</h4>
        <p>You can find Josef <a href="https://adamcik.me/">here</a>.</p>
        <ul class="makers-list">
          <li><a href="https://josefadamcik.itch.io/chrismous-forever">Chrismous Forever</a></li>
          <li><a href="https://josefadamcik.itch.io/the-whites">The Whites</a></li>
          <li><a href="https://barti-maeus.itch.io/every-wednesday-we-roll-volume-2">Every Wednesday WE roll</a></li>
        </ul>
      </div>
      
    </section>
    <section class="section-tri">
      <div class="col2"><h3>Character Keepers.</h3></div>
      <div class="col1"></div>
      <div class="col1">
        <h4>Made by Cinna</h4>
        <p>You can find Cinna <a href="https://bsky.app/profile/cinnaveret.bsky.social">here</a>.</p>
        <ul class="makers-list">
          <li><a href="https://docs.google.com/spreadsheets/d/1nQPn-kvpVzHP_6ZdNaOR2BuBRpJFQZwC4C7BJUdA6lM/edit?gid=220133724#gid=220133724">The Electric State</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1cudIYY5HwsttTT98YBYrskaYcjlc5mh5ERiRygzeI4o/edit?gid=1480781710#gid=1480781710">Memento Mori</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1enEnTTpLPhS7HLivHvFyruz-9gmfVUPF-PLhDlPPI_0/edit?gid=576471753#gid=576471753">Songbirds 3e</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1qnbN9TOzwT2-Q9yBx5DIdx875ZugirmbgV3zfl4zV-Q/edit?gid=934687732#gid=934687732">Mothership</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1lKosQ6zUJuetyD4rasnHs7lmwrDBlY2uzEXzKX9goso/edit?gid=986389125#gid=986389125">Oneshot Grimwild</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1y20MGlsqAHKZOLgtrj2UyiFmAyceeBXLSERIdE9to2g/edit?gid=986389125#gid=986389125">Grimwild</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1_yXWkMEM6z8wXvwQLsG_8DhKrXQ41_and5TGjugIdDI/edit?gid=0#gid=0">Trophy Gold</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1M_T8zQw_m9LadC_bVOSRCxmsjjpTaOVBD_VAOeJ7X1Y/edit?gid=0#gid=0">Trophy Dark</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1sPQIIILkM8PCcsw7zf6YgW6Wu-9mozyfY4XK_4zJPfk/edit?gid=1667042776#gid=1667042776">Orbital Blues</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1XW1ylkwtyEavMqiyYU6K1hnOkwo2mdUa6S86QZaDAlM/edit?gid=1604105535#gid=1604105535">Monty Python's Cocurricular Medieval Reenactment Programme</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1afBRu-eS4Npo67fw8N77r86q71uT6FLo-PRKK4S4d0w/edit?gid=220133724#gid=220133724">CBR+PNK</a></li>
        </ul>
      </div>
      
    </section>
  </div>
</BaseLayout>