---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Patreon";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="content">
    <section class="hero">
      <h2>The rules &amp; general ethos of the community</h2>
      <h3>Be <em>inclusive</em> & practice <em>empathy</em></h3>
      <p>
        We are all humans &amp;life stuff happens
      </p>
      <ul class="index">
        <li>Rules</li>
        <li>Code of Conduct</li>
        <li>What to do if their is a problem</li>
        <li>Useful into</li>
        <li>FAQ</li>
      </ul>
    </section>
    <section class="test">
      <div class="way-col1"><h3>Contribution.</h3></div>
      <div class="way-col2">
        <h4>Why.</h4>
        <p>Right now you won't really get much for backing the Patreon, beyond being labeled as such in the discord. But you will be helping cover the small running costs of the community.</p>
      </div>
      <div class="way-col3">
        <h4>Why not.</h4>
        <p>There is really no expectation for any member of the community and you should absoluelty not back this if you can not afford to.</p>
      </div>
    </section>

  </div>
</BaseLayout>
