---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The Way";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="content">
    <section class="hero-patreon">
      <div class="hero-lite">
        <p>
          The rules &amp; general ethos of the community.<br>
          Be inclusive & practice empathy.
        </p>
      </div>
      <div class="cta">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSedddW21L_LrXXzRZuQXjnHDFo3s79Vr7q4ZxApUw-dR0RJTw/viewform?usp=dialog">Join Our Discord</a>
        <!-- <ul class="index">
          <li>Rules</li>
          <li>Code of Conduct</li>
          <li>What to do if their is a problem</li>
          <li>FAQ</li>
        </ul> -->
      </div>
    </section>
    <section class="section-tri">
      <div class="col2"><h3>Rules.</h3></div>
      <div class="col1">
        <h4>We are</h4>
        <p>An LGBTQIA+, neurodivergent, disability friendly community</p>
        <p>We are inclusive &amp; practice empathy</p>
        <p>We are mindful of sensative subjects &amp; make sure everyone consents to their inclusion in the game.</p>
        <p>Voice chat is English only, this is for moderation reasons. (the exception to this is if you looking for help translating a word you don't know).</p>
        <p>The community is 18+.</p>
      </div>
      <div class="col1">
        <h4>We do not have</h4>
        <p>Racists Sexists Bigots Ableists Antisemites Homophobes Transphobes Nationalists Classists</p>
        <p>Depictions of sexual assault in game, this can a part of back stories and discussed in game but should be discussed pre-game.</p>
      </div>
    </section>
    <section class="section-tri">
      <div class="col2"><h3>Code of Conduct.</h3></div>
      <div class="col1">
        <h4>Responsibility to yourself</h4>
        <p>We are all human &amp; life happens.</p>
        <p>Do not play if you are ill (healing is more important).</p>
        <p>Do not overcommit, your time &amp; energy is limited.</p>
        <p>Do Communicate if you are unhappy.</p>
        <p>Do not stay in situations that make you unhappy.</p>
        <p>If you need a moment to yourself but want to continue a game, ask GM for a break in the game.</p>
      </div>
      <div class="col1">
        <h4>Responsibility   to others</h4>
        <!-- <p>Everybody has a responsability to be respectful of each other.</p> -->
        <p>Respect peoples times, if you can not make it to a session endevour to inform your GM with as much notice as possible.</p>
        <p>If you are going to be late to a session endevour to inform your GM with as much notice as possible.</p>
        <p>Some times life gets in the way &amp; it's impossible  to do the above, that is ok, but please inform your GM afterwards.</p>
        <p>Don't over commit, if it is unlikely you will be able to make it reguarly or on time it is best not commit to the session.</p>
        <p>Don't be a rules lawyer, ask questions or clarifications if you are unsure, but don't derail play if you feel the GM is not running a rule to your expectation. That is a conversation to have after play.</p>
        <p>Give other players their chance to share in the spotlight.</p>
        <p>Respect players bounderies and agency.</p>
      </div>
    </section>
    <section class="section-tri">
      <div class="col2"><h3>What to do if there is a problem?</h3></div>
      <div class="col1">
        <h4>Contact</h4>
        <p>If you feel any of the above have been broken or have any other conserns you should contact a the server owner (Arran) or a moderator.</p>
        <p>We may act immediately, issue a warning or for more minour issues we will keep track to make sure there is not an on going issue.</p>
      </div>
      <div class="col1">
        <h4>Queries</h4>
        <p>If you have a problem or query unrellated to the above, you may want to check the FAQ bellow, or you can ask in the #server-gardening channel or reach out to moderators.</p>
        <p></p>
      </div>
    </section>

    <section class="section-tri">
      <div class="col2"><h3>Frequently Asked Questions</h3></div>
      <div class="col1">
        <h4>I'd like to be involved with a game</h4>
        <p>First find the thread in <strong>plans-and-ideas</strong> for the game &amp; ask the GM if they have space for a new player or a guest player. Many of the games will have something like [3/4] in their title to indicated how full they are.</p>
      </div>
      <div class="col1">
        <h4>I'd like to play something I dont see here?</h4>
        <p>Best thing to do is have a quick search in <strong>plans-and-ideas</strong> to see if anyone else is trying to put together a game &amp; if you can't find anything create a new post.</p>
      </div>
      <div class="col1">
        <h4>Can I listen in on a game?</h4>
        <p>Yes, please do. We think it's a great way to not only learn about other games, but also to get to know people on the server. All we ask is you put yourself on mute while others play, but feel free to have fun in the text chat.</p>
      </div>
      <div class="col1">
        <h4>Can I promote another discord here?</h4>
        <p>Generally the answer is no. The expections is if a mod team is a member of the server &amp; able to varify that the server maintains the core rules around diversity &amp; inclusivity.</p>
        <p></p>
      </div>
      <div class="col1">
        <h4>I'd like to run a game, but I am unsure if there would be interest?</h4>
        <p>Most folks here have pretty varied tastes, so the chances are very high. The challenge is finding people who have time at the same time. Best thing to do is make a post in <strong>plans-and-ideas</strong> about what you'd like to run. SOmetimes this will get interest pretty quickly sometimes it can be a slow burn.</p>
      </div>
      <div class="col1">
        <h4>I've seen MVP mentioned &amp; I don't know what it means?</h4>
        <p>Most months we run a competition, everyone on the server can vote for someone else on the server they feel has made the community a better place. This can be your favourite GM, someone you love playing aling side or someone who is helpful or frienldy. To vote direct messaging @nicewithacupoftea with the members user name. All votes are aggregated and the winner with the most total votes is annaounced and given a prize (the vote for them are then removed).</p>
      </div>
      <div class="col1">
        <h4>I make stuff, can I promote it?</h4>
        <p>Yes, generally the <strong>share-your-work</strong> channel will be the best place for this.</p>
      </div>
      <div class="col1">
        <h4>Do I need to play with a camera on?</h4>
        <p>Absolutely not, while it can make for a better gaming experience if people are happy to do so, you should never feel you need to. Their may be the rare game that requires it, but that will alway stated up front about that game.</p>
      </div>
      <div class="col1">
        <h4>Can I invite my friend?</h4>
        <p>Yes, in fact please do. We think the best way to grow is by people bringing in their friends, so as long as you think your friend is happy with the rules on the server then go right ahead.</p>
      </div>
      <div class="col1">
        <h4>What do the channel names mean?</h4>
        <p>First came the tea &amp; then came then tea-rex and then many more terrible puns followed from there. General chat &amp; the voice channels have the rough theming of tea is for calmer or more serious chat &amp; game, bubble tea for a bit more lively &amp; coffee for chaos and memes. The arcade is where we meet to play party games or sometimes folks stream the games they are playing &amp; spilling the tea is only for conversations.</p>
      </div><div class="col1">
        <h4>Why the name Nice With A Cup of Tea?</h4>
        <p>The creator of the server started off with the intention of making games. Mostly relaxed cozy games, where people would say "ooo that would be nice with a cup of tea".</p>
      </div>
      <div class="col1">
        <h4>What do the letters next to peoples names mean?</h4>
        <p>Many people in the community have emojis of country flags, a mix of where they are and where they are from. It can be helpful in adding a little context in conversations, especially around time zones, but it is in no way required.</p>
      </div>
      
    </section>
  </div>
</BaseLayout>
