---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The Way";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div class="content">
    <section class="hero">
      <h2>The rules &amp; general ethos of the community</h2>
      <h3>Be <em>inclusive</em> & practice <em>empathy</em></h3>
      <p>
        We are all humans &amp;life stuff happens
      </p>
      <ul class="index">
        <li>Rules</li>
        <li>Code of Conduct</li>
        <li>What to do if their is a problem</li>
        <li>Useful into</li>
        <li>FAQ</li>
      </ul>
    </section>
    <section>
      <h2>Rules</h2>
      <p>
      We are LGBTQIA+, neurodivergent, disability friendly community
      </p>
      <div class="rules-text-display">
        <span class="no">NO</span>
        <span class="list">
          racists Sexists bigots ableists antisemites Homophobes Transphobes Nationalists Classists
        </span>
        <!-- <ul>
          <li>Transphobists</li>
          <li>racists</li>
          <li>Sexists</li>
          <li>bigots</li>
          <li>ableists</li>
          <li>Homophobists</li>
          <li>Nationalists</li>
          <li>Classists</li>
          <li>antisemites</li>
        </ul> -->
      </div>
    </section>
    <section class="test">
      <div class="way-col1"><h3>Code of Conduct</h3></div>
      <div class="way-col2">
        <h4>Responsability to yourself</h4>
        <!-- <p>
          We are all human &amp; life happens.<br>
          <strong>1)</strong> Do not play if you are ill (healing is more important)<br>
          <strong>2)</strong> Do not overcommit, your time &amp; energy is limited<br>
          <strong>3)</strong> Communicate if you are unhappy<br>
          <strong>4)</strong> Do not stay in situations that make you unhappy<br>
        </p> -->
        <p>We are all human &amp; life happens.</p>
        <p><strong>1)</strong> Do not play if you are ill (healing is more important)</p>
        <p><strong>2)</strong> Do not overcommit, your time &amp; energy is limited</p>
        <p><strong>3)</strong> Communicate if you are unhappy</p>
        <p><strong>4)</strong> Do not stay in situations that make you unhappy</p>
      </div>
      <div class="way-col3">
        <h4>Responsability to others</h4>
        <p>
        Everybody has a responsability to be respectful of each other.
        Respect peoples times, if you can not make it to a session endevour to inform your GM with as much notice as possible.
        Respect peoples times, if you are going to be late to a session endevour to inform your GM with as much notice as possible.
        Don't over commit, if it is unlikely you will be able to make it reguarly or on time it is best not commit to the session.
        Don't be a rules lawyer, ask questions or clarifications if you are unsure, but don't derail play if you feel the GM is not running a ule to your expectation. That is a conversation to have after play.
        </p>
      </div>
    </section>
<p>
Be inclusive & practice empathy.
Respect other players and their characters agency.
Voice chat is English only, this is for moderation reasons. (the exception to this is if you looking for help translating a word you don't know).
No depictions of sexual assault in game, this can a part of back stories and discussed in game but should be discussed in session 0 or pre game for one shots.
  </p>
  <h2>What to do if there is a problem</h2>
  <p>If you feel any of the above have been broken or have any other conserns you should contact a moderator.</p>
  <h2>Useful infomation</h2>
  <p>Here are a few facts about me:</p>
  <h2>Frequently Asked Questions</h2>
  <p>I'd like to be involved with a game</p>
  <p>I'd like to play something I dont see here</p>
  <p>I'd like to run a game what should I do</p>
  <p>Can I invite a friend</p>
  <p>Some of the channels have silly names, what are they for?</p>
  <p>I've never GM'ed before, do you have any suggestions were to start</p>
  <p>I've got some ideas for the community, what should I do with them</p>

  </div>
</BaseLayout>
