---
import Navigation from '../components/Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

---
<header>
    <div class="header-top">
        <h1>
            <span class="logo">Nice With A</span>
            <span class="logo">Cup of Tea</span>
            <span class="tagline">Playing TTRPGs from the Dorset coast since 2023.</span>
        </h1>
    </div>
    <nav>
        <Navigation />
        <!-- <ThemeIcon /> -->
    </nav>
</header>
