---
import Hamburger from '../components/Hamburger.astro';
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog/">Articles</a>
    <a href="/blog/">Links</a>
    <a href="/about/">About Us</a>
    <a href="/about/">Code</a>
</div>

<Hamburger />